<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>

<body>
<footer class="footer" >
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4">
                                    <h1> NSEC CODE HUB</h1>
                                    <hr>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h3>Comnity Details</h3>
                                            <ul class="offset-lg-1 list-unstyled">
                                                <li><a class="btn-link" href="">Product</a></li>
                                                <li><a class="btn-link" href="">Benefits</a></li>
                                                <li><a class="btn-link" href="">Partners</a></li>
                                                <li><a class="btn-link" href="">Team</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6">
                                            <h3>outher deatils </h3>
                                            <ul class="list-unstyled">
                                                <li><a class="btn-link" href="">Documentation</a></li>
                                                <li><a class="btn-link" href="">Support</a></li>
                                                <li><a class="btn-link" href="">Legal Terms</a></li>
                                                <li><a class="btn-link" href="">About</a></li>
                                            </ul>
                                        </div>
                                    </div><br>
                                    <ul class="btn-group">
                                        <a href="#" class="btn btn-info" role="button"><span class="glyphicon glyphicon-bug">bug</span></a>
                                        <a href=""  class="btn  btn-danger">hello</a>
                                        <a href="" type="button" class="btn btn-primary">cool</a>
                                        <a href="" type="button" class="btn btn-success">just</a>
                                    </ul>
                                </div>
                                <div class="col-md-4 pull-right">
                                    <h1>Subscribe</h1>
                                    <hr>
                                     <form class="form-inline pull-center">
                                         <div class="row">
                                             <div class="col-12">
                                                 <ul class="list-unstyled">
                                                     <li><input class="form-control mr-sm-2" type="text" placeholder="Subscribe"></li>
                                                    <li><button class="btn btn-outline-success my-2 my-sm-2 " type="submit" >Subscribe</button></li>
                                                 </ul>
                                             </div>
                                         </div>
                                      </form>

                                </div>
                                <div class="col-md-4">
                                    <h2 class="text-md-center">Contact Us</h2><hr>
                                    <form>
                                        <fieldset class="form-group">
                                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                        </fieldset>
                                        <fieldset class="form-group">
                                            <textarea class="form-control" id="exampleMessage" placeholder="Message"></textarea>
                                        </fieldset>
                                        <fieldset class="form-group text-xs-right">
                                            <button type="button" class="btn btn-outline-primary btn-lg">Send</button>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </footer>
</body>
</html>