<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NSEC HUB</title>
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" href="/static/content/site.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
        <div class="container-fluid" style="background-color: light">
                <div class="row">
                    <div class="offset-lg-4 col-lg-4 offect-lg-4 " style="background-color: #f5e79e">
                        <fildset class="fsStyle">
                        <legend class="legendStyle">
                          <a data-toggle="collapse" data-target="#demo" href="#"><h1>NSEC CODE HUB</h1></a>
                            <p class="lead" >If you don't have a account <a class="btn btn-outline-success" href="#">Signup</a>
                            </p>
                        </legend>
                        </fildset>
                        <hr>
                    </div>
                </div>

                <div class="row" id="Rowlogin_form">
                    <div class="offset-lg-4 col-lg-4 offset-lg-4" style="background-color: wheat; box-shadow: #464a4c; padding: 10px 30px 20px 30px " >
                        <h2>Sign In</h2>
                        <fieldset class="fsStyle">
                                <form  id="log_form">
                                  <div class="input-group">
                                      <span class="input-group-addon" id="basic-addon1">@</span>
                                      <input type="email" class="form-control" placeholder="Username" aria-describedby="basic-addon1"></input>
                                  </div>
                                    <p class="lead">We'll never share your email with anyone.</p>

                                  <div class="input-group">
                                      <span class="input-group-addon" id="basic-addon1">#</span>
                                      <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1"></input>
                                  </div>

                                    <p class="lead">try a strong password.</p>
                                    <button type="submit" class="btn btn-primary btn-lg">Sign In</button>

                                </form>
                        </fieldset>
                        <hr>
                        <div class="containner">
                            <p class="lead font-weight-bold">Or Maybe Sign in with....</p>
                            <div class="row">
                                <div class="col-md-6 justify-content-lg-between">
                                    <!--facebook-->
                                    <a class="btn btn-outline-primary btn-social btn-facebook" href="#">
                                        <span class="fa fa-facebook"></span> Facebook
                                      </a>
                                        <!--Twitter-->
                                        <a class="btn btn-outline-info btn-social btn-twitter" href="login.html">
                                        <span class="fa fa-twitter"></span>Twitter
                                      </a>
                                        <!--Google +-->
                                        <a class="btn btn-outline-danger btn-social btn-google-gplus" href="">
                                        <span class="fa fa-google-plus"></span> Sign in with Google+
                                      </a>
                                </div>
                                 <div class="col-md-6">
                                     <!--Linkedin-->
                                        <a class="btn btn-outline-primary btn-social btn-linkedin" href="">
                                        <span class="fa fa-linkedin"></span> Sign in with Google
                                      </a>
                                        <!--Instagram-->
                                     <a class="btn btn-outline-warning btn-social btn-instagram" href="">
                                        <span class="fa fa-instagram"></span> Sign in with Google+
                                      </a>

                                        <!--Pinterest-->
                                            <a class="btn btn-outline-warning btn-social btn-pinterest" href="">
                                        <span class="fa fa-pinterest"></span> Sign in with pinterset
                                      </a>
                                 </div>

                                <div class="col-md-6 social-buttons-demo">
                                   <h3><small> Bootstrap 4 Social Icons </small></h3>
                                    <p class="lead"> copy@right reserve</p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </div>
</body>
</html>