<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>

    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />

</head>
<body>
<div class="container-fluid" >
    <div class="row" style="background-color:snow " >
        <div class="col-lg-4">
            <div class="col-md-12 well" style=" background-color: gainsboro; padding:10px 25px 20px 10px;box-shadow: #adadad">
                <img src="/static/pic/codeclublogo-white.png" alt="our web logo" class="img-thumbnail">
                <p class="lead">its lets you learn everything </p>
            </div>
        </div>
        <div class="col-lg-4 " style="background-color: #c4e3f3">
            <fieldset class="fsStyle">
                        <legend class="legendStyle">
                          <a data-toggle="collapse" data-target="#demo" href="#"><h1>Create a free Account</h1></a>
                            <p class="lead" >Allready have a account <a class="btn btn-success" href="">Sign In</a></p>
                        </legend>
                    <form>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-md-left table-info">We'll never share your email with anyone else.</small>
                          </div>

                        <div class="form-group">
                            <label for="exampleInputUnl">User Name</label>
                            <input type="text" class="form-control" id="exampleInputUni" aria-describedby="userlHelp" placeholder="Enter User Name">
                            <small id="emailHelp" class="form-text text-md-left table-info">We'll never share your email with anyone else.</small>
                          </div>

                          <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                              <small id="passHelp" class="form-text text-md-left table-info">BE sure having a strong password.</small>
                          </div>

                          <div class="form-group">
                                    <div class="from-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input">
                                          Check me out
                                        </label>
                                    </div>
                          </div>

                              <div class="form-group">
                                <label for="exampleInputText">Collage Id Card No</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-lg-left text-info ">give the exact id.</small>
                              </div>

                        <button type="submit" class="btn btn-primary btn-lg pull-center" id = "signUpB">Submit</button>
                    </form>
           </fieldset>
            <div class="containner">
                            <p class="lead font-weight-bold">Or Maybe SignUP with....</p>
                            <div class="row well">
                                <div class="col-md-6 justify-content-lg-between">
                                    <!--facebook-->
                                    <a class="btn btn-outline-primary btn-social btn-facebook" href="#">
                                        <span class="fa fa-facebook"></span> Facebook
                                      </a>

                                    <!--Twitter-->
                                    <a class="btn btn-outline-success btn-social btn-twitter" href="">
                                        <span class="fa fa-twitter"></span>Twitter
                                      </a>
                                        <!--Google +-->
                                       <a class="btn btn-outline-danger btn-social btn-Google" href="">
                                        <span class="fa fa-Google"></span> Sign in with Google
                                      </a>
                                </div>
                                 <div class="col-md-6 justify-content-lg-between">   <!--Linkedin-->
                                        <a class="btn btn-outline-primary btn-social btn-linkedin" href="">
                                        <span class="fa fa-linkedin"></span>Linked In
                                      </a>
                                        <!--Instagram-->
                                        <a class="btn btn-outline-warning btn-social btn-instagram" href="">
                                        <span class="fa fa-instagram"></span>Instagram
                                      </a>
                                        <!--Pinterest-->
                                            <a class="btn btn-outline-danger btn-social btn-pin" href="login.html">
                                        <span class="fa fa-pin"></span>SignUp with Pinset
                                      </a>
                                 </div>

                                <div class="col-md-6 social-buttons-demo">
                                   <h3><small> Bootstrap 4 Social Icons </small></h3>
                                    <p class="lead">copyRight@reserver</p>
                            </div>
                    </div>
                </div>
        </div>
    </div>
    <br>
{#        <div class="row" >#}
{#            <div class="col-lg-12" style="background-color: #464a4c">#}
{#                    {%  extends "footer.html" %}#}
{#            </div>#}
{#        </div>#}
</div>
</body>
</html>